@font-face 
{
    font-family: "RedHatDisplay";
    src: url("Font-family/static/RedHatDisplay-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face 
{
    font-family: "RedHatDisplay";
    src: url("Font-family/static/RedHatDisplay-Regular.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face 
{
    font-family: "RedHatDisplay";
    src: url("Font-family/static/RedHatDisplay-Black.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

.attribution
{ 
    font-size: 11px;
    text-align: center; 
}

.attribution a 
{
    color: hsl(228, 45%, 44%);
}

.Fond
{
    background: url(images/pattern-background-desktop.svg) no-repeat top center;
    background-size: contain;
    background-color: #e0e8ff;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Card
{
    width: 400px;

    background-color: white;
    margin: auto;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
}

.ImageHero
{
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.btn
{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    margin: 8% 0 5% 0;
    border: none;
    box-shadow: 1px 10px 20px hsl(244.9, 64.2%, 62.7%);

    font-family: RedHatDisplay;
    font-weight: 700;
}

.btn:hover
{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

.CadrePetit
{
    width: 300px;
    border-radius: 10px ;
    margin: auto;

    text-align: left;

    display: grid;
    grid-template-columns: 60px auto 70px;
    align-items: center;

    background-color: hsl(225, 100%, 98%);
}

h1
{
    font-size: 24px;
    font-family: RedHatDisplay;
    font-weight: 900;
}

.Texte
{
    font-size: 15px;
    font-family: RedHatDisplay;
    font-weight: 500;
    padding: 0 20px;
    line-height: 1.7;
    color: hsl(224, 23%, 55%)
}

.Prix
{
    font-size: 15px;
    font-family: RedHatDisplay;
    font-weight: 500;
    color: hsl(224, 23%, 55%)
}

.Ecart
{
    padding: 15px;
}

.ReductionIcone
{
    width: 40px;
}


.TexteChange
{
    color: hsl(245, 75%, 52%);;
    text-decoration: underline;
    font-weight: 700;
    font-family: RedHatDisplay;
    font-size: 14px;
}

.TexteChange:hover
{
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.TexteCancel
{
    font-size: 15px;
    font-family: RedHatDisplay;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    margin-top: 0;
}

.TexteCancel:hover
{
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.TexteGras
{
    font-size: 15px;
    font-family: RedHatDisplay;
    font-weight: 700;
}

.EcartImage
{
    position: relative;
    left: 10px;
}

.EcartTexte
{
    position: relative;
    left: 10px;
}

@media screen and (max-width: 580px) 
{
    .btn
    {
        height: 50px;
        border-radius: 10px;
    }

    .Fond
    {
        background-image: url(images/pattern-background-mobile.svg);
        margin: 0;
        padding: 0;
    }
}